button {
	-webkit-transition-duration: 0.1s; /* Safari */
	transition-duration: 0.1s;
	background-color: #add8e6;
    border: none;
    color: #6b5c43;
    font-weight: 700;
	border-radius: 8px;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-family: 'Oxygen', sans-serif;
	letter-spacing: 2px;
	cursor: pointer;
}

input {
    border: 1px solid #ccc;
    padding: 8px;
}

body {
    background-color: #d4f2eb;
    font-family: Libre Franklin, sans-serif;
    font-weight: 700;
    line-height: 1.5;
    color: #6b5c43;
}